<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS Application</title>
    <style>
        div {
            display: flex;
            justify-content: center;
            height: 10;
            align-items: center;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;" >File Upload</h1>
    <div>    
    <form action="http://localhost:3000/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv">
        <button type="submit">Upload</button>
    </form>  
</div>

</body>
</html>